body {
    margin: 10px;
    background-image: linear-gradient(to left, rgba(184,223,239,0.7), rgba(240,165,47,0.7));
    background-attachment: fixed;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgba(216,214,215,255);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    border: 10px solid rgba(red, green, blue, 0.1);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.085);
    background-color: rgba(217,215,216,255);
    height: 700px;  
    width: 800px;
}
img{
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(40%);
}
.img-container{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(217,215,216,255);  
}
.data-container{
    padding: 30px;
}
.space{
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.061);
    margin-top: 40px;
    width: 400px;
    color:rgb(0, 0, 0);
    background-image: linear-gradient(to left, rgba(184,223,239,0.7), rgba(240,165,47,0.7));
    height: 2px;
    border-radius: 10px;
}
label{
    color: rgba(80,45,21,255);
    margin-right: 10px;
    text-decoration: line;
    font-size: large;
    font-weight: bold;
}
input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 230px;
    border-radius: 10px;
    font-size: medium;
    border: white;
    background-image: linear-gradient(to left, rgba(184,223,239,0.7), rgba(240,165,47,0.7));

}   
input::placeholder{
    font-size: 15px;
}
button{
    color: rgba(80,45,21,255);
    border: white;
    font-size: large;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to left, rgba(184,223,239,0.7), rgba(240,165,47,0.7));
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 250px;
        height: 300px;
    }  
    hr{
        width: 160px;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    input{
        width: 70px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    } 
    input::placeholder{
        font-size: 10px;
    }
    
    label{
        margin-right: 5px;
        font-size: 10px;
    }
    button{
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }
    img{
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translateY(50%);
        margin-left: -40px;
    }
    .space{
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .data-container{
        padding-top: -20px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: -10px;
    }
}
/* For screens smaller than 768px (e.g. mobile devices) */
@media only screen and (min-width:406px) and (max-width: 768px) {
    .container {
        width: 290px;
        height: 300px;
    }  
    hr{
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    input{
        width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    } 
    input::placeholder{
        font-size: 10px;
    }
    
    label{
        margin-right: 5px;
        font-size: 10px;
    }
    button{
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }
    img{
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        transform: translateY(50%);
        margin-left: -35px;
    }
    .space{
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .data-container{
        padding-top: -20px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: -10px;
    }
}
  /* For screens between 768px and 1024px (e.g. tablets) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .container {
        width: 700px;
        height: 700px;
    }
    hr{
        width: 400px;
    }
    .data-container{
        padding-top: -20px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: -10px;
    }
    img{
        width: 340px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translateY(60%);
        margin-left: -20px;
    }
} 
  /* For screens larger than 1024px (e.g. desktop screens) */
@media only screen and (min-width: 1024px) {
    hr{
        width: 400px;
    }
  }
